body {
  padding-bottom: 120px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333; }

h2 {
  margin-top: 50px; }

h3 {
  margin-top: 30px; }

code {
  margin: 0 2px;
  padding: 2px;
  background: #eee;
  color: #777;
  border-radius: 2px; }

.container {
  max-width: 800px; }

header {
  background: #eef1f3;
  border-bottom: 1px solid #d5dce4; }
  header .icon {
    display: flex;
    align-items: center;
    margin: 15px 0; }
  header .title {
    display: inline-block;
    margin: 0;
    margin-left: 5px;
    font-size: 22px; }

.js-shortcodes {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start; }
  .js-shortcodes .shortcode {
    display: flex;
    align-items: stretch;
    justify-content: center;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid #d5dce4;
    overflow: hidden;
    transition: all 0.25s ease; }
    .js-shortcodes .shortcode:hover {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.04);
      transform: translate(0, -1px); }
    .js-shortcodes .shortcode span, .js-shortcodes .shortcode i {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50%;
      padding: 14px;
      text-align: center; }
    .js-shortcodes .shortcode span {
      background: #eef1f3;
      border-right: 1px solid #d5dce4;
      font-size: 28px; }
    .js-shortcodes .shortcode i {
      background: #f7f7f7; }
    .js-shortcodes .shortcode img {
      max-width: 100%;
      max-height: 36px; }

.editor {
  min-height: 8em;
  padding: 12px 15px;
  border: 1px solid #d5dce4;
  border-radius: 4px;
  transition: 0.25s ease; }
  .editor:focus {
    outline: none;
    border-color: #3376e0; }

.tips .item {
  max-width: 38em;
  margin: 30px 0; }
  .tips .item + .item {
    margin-top: 45px; }
